/* Estilo General */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    color: white;
}

header {
    background-color: #e74c3c;
    padding: 20px;
    text-align: center;
    color: #fff;
}

header h1 {
    font-size: 3.5rem;
    margin: 0;
}

header p {
    font-size: 1.2rem;
}

/* Container Principal */
.container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

/* Artículos y Titulos */
.article {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
}

.headline {
    font-size: 3rem;
    color: #e74c3c;
    margin-bottom: 20px;
}

h3 {
    font-size: 2rem;
    color: #f39c12;
    margin-top: 30px;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

ul li {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

/* Estilo para dispositivos pequeños */
@media (max-width: 768px) {
    header h1 {
        font-size: 2.5rem;
    }

    header p {
        font-size: 1rem;
    }

    .headline {
        font-size: 2.5rem;
    }

    .article {
        padding: 10px;
    }

    h3 {
        font-size: 1.8rem;
    }

    ul li {
        font-size: 1rem;
    }
}

/* Estilo para dispositivos más pequeños como teléfonos móviles */
@media (max-width: 480px) {
    header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 0.9rem;
    }

    .headline {
        font-size: 2rem;
    }

    .article {
        padding: 5px;
    }

    h3 {
        font-size: 1.6rem;
    }

    ul li {
        font-size: 0.9rem;
    }
}

